<strong>Olá {{ student }}, </strong>
<p>Segue abaixo a resposta do seu pedido de auxílio:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
</p>
